@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary: #163A70;
    --secondary: #F97316;
    --background: #F8FAFC;
    --card: #FFFFFF;
    --text: #334155;
    --light: #FFF7ED;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Outfit',sans-serif;
    background:var(--background);
    color:var(--text);
    overflow-x:hidden;
}

#root{
    min-height:100vh;
    width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

button,
input,
textarea,
select{
    font-family:'Outfit',sans-serif;
}

img{
    max-width:100%;
    display:block;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#E2E8F0;
}

::-webkit-scrollbar-thumb{
    background:var(--secondary);
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#EA580C;
}

::selection{
    background:var(--secondary);
    color:white;
}